{% extends "template.html" %}
{% block conteudo %}
<div class="container-sm ">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-10 ">
            <form class="form-control mb-4" action="{{url_for('atualizarCliente')}}" method="POST" enctype="multipart/form-data">
                <h1 class="text-primary-emphasis">{{ titulo }}</h1>
                <fieldset>
                    <input type="hidden" name="id_cliente" value="{{ id_cliente }}">
                    {{ form.csrf_token() }}
                    <div class="form-group">
                        {{ form.nome.label(class="form-label") }}
                        {{ form.nome(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.documento.label(class="form-label") }}
                        {{ form.documento(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.cep.label(class="form-label") }}
                        {{ form.cep(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.cidade.label(class="form-label") }}
                        {{ form.cidade(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.estado.label(class="form-label") }}
                        {{ form.estado(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.rua.label(class="form-label") }}
                        {{ form.rua(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.numero.label(class="form-label") }}
                        {{ form.numero(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.telefone.label(class="form-label") }}
                        {{ form.telefone(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.email.label(class="form-label") }}
                        {{ form.email(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.salvar(class="btn btn-primary") }}
                        <a class="btn btn-danger" href="{{ url_for('listaCliente') }}">Voltar</a>
                    </div>
                </fieldset>

            </form>
        </div>
    </div>
</div>
{% endblock %}