{% extends "template.html" %}
{% block conteudo %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul id="messages" class="list-unstyled">
    {% for message in messages %}
        <li class="alert alert-success">{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endwith %}
<div class="container-sm mb-3 ">
    <bs5-grid-row>
        <div class="p-3 text-primary-emphasis bg-light-subtle border border-light-subtle rounded-3">
                <h1 class="text-primary-emphasis">{{ titulo }}</h1>
                    <table class="table table-hover
                    table-hover
                    table-bordere
                    table-light
                    align-middle
                    ">
                        <thead class="table card-text-">
                            <caption></caption>
                            <tr class="table-light">
                                <th class="table-light">Materia Prima</th>
                                <th class="table-light">Quantidade</th>
                                <th class="table-light">Tipo</th>
                                <th class="table-light">Data de Entrada</th>
                                <th class="table-light">Data de Validade</th>
                                <th>Retirar</th>
                                <th>Editar</th>
                                <th>Excluir</th>
                            </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                {% for materiaprima, estoquemateriaprima in materiais %}
                                <tr class="table-light">
                                    <td>{{ materiaprima.nome_material }}</td>
                                    <td>{{ estoquemateriaprima.quantidade }}</td>
                                    <td>{{ estoquemateriaprima.tipo }}</td>
                                    <td>{{ estoquemateriaprima.data_entrada}}</td>
                                    <td>{{ estoquemateriaprima.data_validade}}</td>
                                    <td><a class="btn btn-info" href="{{url_for( 'solicitarEstoqueMateriaPrima', id_estoque=estoquemateriaprima.id_estoque ) }}" >Retirar</a></td>
                                    <td><a class="btn btn-primary" href="{{url_for( 'editarEstoqueMateriaPrima', id_estoque=estoquemateriaprima.id_estoque ) }}" >Editar</a></td>
                                    <td><a class="btn btn-danger" href="{{url_for( 'excluirEstoqueMateriaPrima', id_estoque=estoquemateriaprima.id_estoque ) }}" >Excluir</a></td>
                                    <td></td>
                                </tr>
                                {% endfor %}

                                </tbody>
                            <tfoot>
                        </tfoot>
                    </table>
                    <a class="btn-primary" href="{{url_for('cadastraEstoqueMateriaPrima')}}">
                            <input class="btn btn-primary" type="button" value="Entrada de Material">
                    </a>
                </bs5-grid-row>
            </div>
        </bs5-grid-row>
    </div>

{% endblock %}


