{% extends "template.html" %}
{% block conteudo %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul id="messages" class="list-unstyled">
    {% for message in messages %}
        <li class="alert alert-success">{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endwith %}
<div class="container-sm mb-3 ">
    <bs5-grid-row>
        <div class="p-3 text-primary-emphasis bg-light-subtle border border-light-subtle rounded-3">
                <h1 class="text-primary-emphasis">{{ titulo }}</h1>
                    <table class="table table-hover
                    table-hover
                    table-bordere
                    table-light
                    align-middle
                    ">
                        <thead class="table card-text-">
                            <caption></caption>
                            <tr class="table-light">
                                <th class="table-light">Id_Material</th>
                                <th class="table-light">Referencia</th>
                                <th class="table-light">Nome</th>
                                <th class="table-light">Editar</th>
                                <th class="table-light">Excluir</th>
                            </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                {% for material in materiais %}
                                <tr class="table-light">
                                    <td>{{ material.id_materiaprima }}</td>
                                    <td>{{ material.referencia_material }}</td>
                                    <td>{{ material.nome_material}}</td>
                                    <td><a class="btn btn-primary" href="{{ url_for('editarMateriaPrima',id_materiaprima=material.id_materiaprima)}}" >Editar</a></td>
                                    <td><a class="btn btn-danger" href="{{ url_for('excluirMateriaPrima',id_materiaprima=material.id_materiaprima)}}" >Excluir</a></td>
                                </tr>
                                {% endfor %}

                                </tbody>
                            <tfoot>
                        </tfoot>
                    </table>
                    <a class="btn-primary" href="{{ url_for('cadastraMateriaPrima')}}">
                            <input class="btn btn-primary" type="button" value="Cadastra Material">
                    </a>
                </bs5-grid-row>
            </div>
        </bs5-grid-row>
    </div>
{% endblock %}


