{% extends "template.html" %}
{% block conteudo %}
<div class="container-sm ">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-10 ">
            <form class="form-control mb-4" action="/criarPedido" method="POST" enctype="multipart/form-data">
                <h1 class="text-primary-emphasis">{{ titulo }}</h1>
                <fieldset>
                      {{ form.csrf_token() }}
                      <div class="mb-3">
                        {{ form.select_cliente.label(class="form-label") }}
                        {{ form.select_cliente(class="form-control") }}
                      </div>
                      <div class="mb-3">
                        {{ form.select_item.label(class="form-label") }}
                        {{ form.select_item(class="form-control") }}
                      </div>
                      <div class="mb-3">
                        {{ form.quantidade.label(class="form-label") }}
                        {{ form.quantidade(class="form-control") }}
                      </div>
                      <div class="mb-3">
                        {{ form.select_tamanho.label(class="form-label") }}
                        {{ form.select_tamanho(class="form-control") }}
                      </div>
                      <div class="mb-3">
                        {{ form.salvar(class="btn btn-primary") }}
                      </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<!-- Campo Endereço -->
{% endblock %}