<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>
<body>
    
    <div class="sidebar" id="sidebar">
        <div class="open-btn" onclick="toggleSidebar()">&#9776;</div>
        <a href="#"><i class="bi bi-person-add"></i> Cadastro de Cliente</a>
        <a href="#"><i class="bi bi-buildings"></i>Cadastro de Fornecedor</a>
        <a href="#"><i class="bi bi-building-add"></i>Cadastro de Pedido</a>
        <a href="#"><i class="bi bi-card-list"></i>Lista de Pedidos</a>
    </div>
    <div class="content">
        
        {% block conteudo %}{% endblock %}

    </div>
    
    <script>
        function toggleSidebar() {
            var sidebar = document.getElementById("sidebar");
            if (sidebar.style.left === "0px") {
                sidebar.style.left = "-160px";
            } else {
                sidebar.style.left = "0px";
            }
        }
    </script>
    
</body>
</html>