<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/estilo.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body class="body">

<div class="row">
        <div class="col-sm-8">
            <nav class="sidebar text-bg-dark">
                <div class="container-sm">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Software Legal S.A</h5>
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('login')}}"><i class="bi bi-person-circle"></i>    Login </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('cadastraCliente')}}"><i class="bi bi-person-fill-add"></i>    Cadastrar CLiente</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('listaCliente')}}"><i class="bi bi-person-circle"></i>    Clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active offcanvas-start" aria-current="page" href="{{url_for('cadastraFornecedor')}}"><i class="bi bi-buildings"></i>    Cadastrar Fornecedor</a></i>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('listaFornecedor')}}"><i class="bi bi-card-list"></i>    Fornecedores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('listaMateriaPrima')}}"><i class="bi bi-box-fill"></i>    Lista Material</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('listaEstoqueMateriaPrima')}}"><i class="bi bi-boxes"></i>      Estoque de Material</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col-md-10">
            <div class="conteudoposition">
                {% block conteudo %}{% endblock %}
            </div>
        </div>
</div>
    <script>
        function toggleSidebar() {
            var sidebar = document.getElementById("sidebar");
            if (sidebar.style.left === "0px") {
                sidebar.style.left = "-160px";
            } else {
                sidebar.style.left = "0px";
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>

</body>
</html>